[user]
	name = Alexey Tourbin
	email = alexey.tourbin@gmail.com
[color]
	diff = auto
	grep = auto
[merge]
	tool = vimdiff
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = alexey.tourbin@gmail.com
	smtpserverport = 587
